* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
}
#books {
  list-style-type: none;
  padding-left: 0%;
  background: rgb(233, 226, 226);
  
}
.awesome_books {
  text-align: center;
}
#books li {
  display: flex;
  
  align-items: baseline;
}
ul h3 {
  margin: 0 10px ;
}

