* {
  padding: 0;
  margin: 0;
  font-family: "Comic Neue", "Courier New", Courier, monospace;
}

.active {
  background-color: white;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-weight: bolder;
}

#books {
  list-style-type: none;
  padding-left: 0%;
  background: rgb(233, 226, 226);
  border: solid 2px #666;
}

.awesome_books {
  text-align: center;
}

#books li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul h3 {
  margin: 0 10px;
  display: inline-block;
  padding: 10px 2px;
}

button {
  box-shadow: 1px 1px 2px 1px #666;
}

ul button {
  margin: auto 10px;
}

.grey {
  background-color: rgb(85, 84, 84);
}

.whiteSmoke {
  background-color: rgb(247, 241, 241);
}

.form_section {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

form {
  display: block;
  margin: auto;
}

form input {
  margin-bottom: 10px;
  padding: 2%;
}

.form_section h3 {
  text-align: center;
}

.form_section p button {
  float: right;
  margin-right: 50px;
}

.form_section form,
.form_section input {
  width: 90%;
}

#add {
  padding: 1%;
  font-size: 90%;
}

header {
  background-color: rgb(138, 139, 139);
  display: flex;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  padding: 0 10px;
}

header h1 {
  padding: 0;
  margin: 0;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  padding: 0 10px;
  list-style: none;
  margin: 0 2px;
  font-size: large;
  font-weight: bold;
}

#navbar ul li:hover {
  background-color: white;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-weight: bolder;
}

.not-showing {
  display: none;
}

.page {
  padding: 20px 30px;
  font-size: 115%;
}

.contact_heading {
  text-align: center;
}

.description {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.contact_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#luxon_date {
  text-align: right;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  padding-right: 30px;
}

footer {
  border: 2px solid #000;
  padding: 1%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-weight: bold;
  font-size: 110%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}
